<nav class="navbar navbar-default sg-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <a class="navbar-brand">
              <img src="assets/image/logo.png" class="logo">
            </a>
            <span class="navbar-brand">SG App</span> -->
        </div>
        <ul class="nav navbar-nav">
            <li  routerLinkActive="active"><a routerLink="/menu1" > Menu 1</a></li>
            <li  routerLinkActive="active"><a routerLink="/menu2"> Menu 2</a></li>
            <li  routerLinkActive="active"><a routerLink="/menu3"> Menu 3</a></li>
            <li  routerLinkActive="active"><a routerLink="/menu4"> Menu 4</a></li>
        </ul>
    </div>
</nav>