<div class="grid-page-container">
   <div class="grid-header">
       <div class="grid-header-caption">{{title}}</div>
       <div class="grid-header-buttons">
           <button class="btn btn-primary">print</button>
           <button class="btn btn-primary">Export</button>
           <button class="btn btn-primary">Save</button>
           <button class="btn btn-primary">Reset</button>
       </div>
   </div>
   <!-- block 1 -->
   <div class="block">
       <div class="block-header">
           <div class="caption">
               Filters : 
           </div>
           <div class="collapse-btn">
                <button data-toggle="collapse" data-target="#filter" class="btn btn-default"></button>
           </div>
       </div>
       <div id="filter" class="collapse in">
            <div class="filter-content">
                <!-- input -->
                <div class="form-group">
                    <label for="usr">Text:</label>
                    <input type="text" class="form-control" id="usr">
                </div>

                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" class="form-control" id="date">
                </div>
                <!-- dropdown -->
                <div class="form-group">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="usr">Text:</label>
                    <input type="text" class="form-control" id="usr">
                </div>


                <div class="form-group">
                    <label for="usr">Text:</label>
                    <input type="text" class="form-control" id="usr">
                </div>


                <div class="form-group">
                    <label for="usr">Text:</label>
                    <input type="text" class="form-control" id="usr">
                </div>

                <div class="form-group">
                    <label for="usr">Text:</label>
                    <input type="text" class="form-control" id="usr">
                </div>
            
            </div>
        </div>
   </div>

   <!-- block 2 -->
   <div class="block">
       <div class="block-header">
            <div class="caption">
                Content : 
            </div>
       </div>
       <div class="block-content">
            <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Default</td>
                        <td>Defaultson</td>
                        <td>def@somemail.com</td>
                      </tr>      
                      <tr>
                        <td>Success</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                      </tr>
                      <tr >
                        <td>Danger</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                      </tr>
                      <tr >
                        <td>Info</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                      </tr>
                      <tr>
                        <td>Warning</td>
                        <td>Refs</td>
                        <td>bo@example.com</td>
                      </tr>
                      <tr >
                        <td>Active</td>
                        <td>Activeson</td>
                        <td>act@example.com</td>
                      </tr>
                    </tbody>
                  </table>
       </div>
   </div>
   <!-- block 3 -->
   <div class="block">
        <div id="selectedInfio" class="collapse in">
            <div class="block-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div class="block-header">
            <!-- <div class="caption">
                Details : 
            </div> -->
            <div class="collapse-btn">
                    <button data-toggle="collapse" data-target="#selectedInfio" class="btn btn-default"></button>
            </div>
        </div>
   </div>
</div>